---
http_interactions:
- request:
    method: post
    uri: https://api.sendinblue.com/v3/smtp/email
    body:
      encoding: UTF-8
      string: '{"to":[{"email":"gil_blanda@koelpin.test","name":"Msgr. Brittaney Padberg"}],"templateId":1,"params":{"SHOW_SOCIAL_LINKS":false}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - xkeysib-mock-api-key
      partner-key: []
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      sib-request-id:
      - fff655fe-2295-962f-8af0-71f2f0c0a2e3
      x-sib-ratelimit-limit:
      - '1000'
      x-sib-ratelimit-remaining:
      - '999'
      x-sib-ratelimit-reset:
      - '1'
      x-sib-server:
      - BREVO-srv-pr-online-rancher-worker-50
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"<202311300639.58273272213@smtp-relay.mailin.fr>"}

        '
      effective_url: https://api.sendinblue.com/v3/smtp/email
  recorded_at: Thu, 30 Nov 2023 06:39:23 GMT
recorded_with: VCR 6.2.0
